#elemOuterHTML:hover {
  background-color: bisque;
  cursor: pointer;
}

.navParent:disabled {
  opacity: 0.2;
}

.mainDiv {
  min-height: 50px;
  outline-color: darkgrey;
  outline-width: 1px;
  outline-style: solid;
}

.classCheckbox:hover {
  background-color: bisque;
}
