.tabNav {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabNav button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabNav button:hover {
  background-color: #ddd;
}

.tabNav button.active {
  background-color: #ccc;
}

.invalidMessage {
  color: red;
}

.validMessage {
  color: rgb(17, 172, 17);
}

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.profilesTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: black;
}
.profilesTableHeaderRow {
  color: darkorange;
  font-weight: bold;
  height: 50px;
}
.profilesTableBodyRow:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.05);
}

.profilesTableBodyRow:hover {
  background-color: bisque;
}
.profilesTable tr td {
  height: 25px;
}

.deleteProfile:hover {
  cursor: pointer;
}
